<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>MED BLOG</h1>
        {% for post in posts%}
        <a  style="text-decoration:none;color:black" href="/post/{{post.id}}">
        <h2> {{post.title}} </h2>
        <p> {{post.body}} </p>
        <p><b>{{post.created_at| truncatewords:20}}</b></p>
        {% endfor %}
        </a>
</body>

</html>